.logo img {
  height: 80px;
}

.icon img {
  height: 160px;
}

.nav-item {
  margin-left: 70px;
  margin-right: 70px;
}

#mainNav {
  background-color: black;
  opacity: 0.8;
}

.jumbotron {
  background-image: url("images/wedding2.jpg");
  background-size: cover;
  height: 100%;
}

#presentation {
  background-image: url("images/wedding2.jpg");
  height: 1061px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#wedding img {
}


#description {
  height: 400px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#statistika {
  height: 400px;
  background-image: url("images/flowers2.jpg");
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#stat {
  margin-top: 100px;
}
